:root {
  --bg0_h: #eef2f8;

  --bg0: #ffffff;
  --fg0: #3c3836;

  --bg1: #ff3f02;
  --fg1: #ffffff;

  --gray: #928374;
  --green: #3BB273;
  --red: #A66E71;
  --blue: #4D9DE0;
}

/* General */

html, body {
  position: relative;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--fg0) !important;

  background-color: var(--bg0_h) !important;
  overflow: hidden;
}

/* Headers */

h1, .special {
  color: #ff3e00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
}

h1 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* Text */

.blu {
  color: var(--blue);
  font-weight: bold;
}
.red {
  color: var(--red);
  font-weight: bold;
}
.grn {
  color: var(--green);
  font-weight: bold;
}

span.detail {
  padding: 5px 10px;
  border-radius: 20px;

  background: var(--bg0_h);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

  font-size: 0.7em;
}

b {
  display: contents;
}

/* Inputs */

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #ccc;
}

input {
  font-size: 16px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--gray);
}

input:disabled, textarea:disabled, select:disabled {
  color: #ccc;
  cursor: not-allowed !important;
}

label {
  display: block;
}

/* Button */

button {
  margin: 0;
  border: 0;
  padding: 7px 10px;
  cursor: pointer;

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

button:active {
  background-color: #ddd !important;
}

button:disabled {
  background-color: #ccc !important;
}

button:disabled, button:disabled span {
  cursor: not-allowed !important;
}

form button {
  width: 100%;
}

button.blu {
  background-color: var(--blue);
  color: white;
}
button.red {
  background-color: var(--red);
  color: white;
}
button.grn {
  background-color: var(--green);
  color: white;
}

/* Utils */

.flex-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  margin-top: 20px;
}

.jcsb { justify-content: space-between; }
.jce  { justify-content: end; }

.hr {
  width: 100%;
  margin: 20px 0;
  border-top: 3px solid var(--gray);
}

.oe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrappable {
  word-wrap: break-word;
}

.cp { cursor: pointer; }
.cw { cursor: wait;    }

.tac {
  text-align: center;
}
.tas {
  text-align: start;
}

.b {
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bb {
  box-sizing: border-box;
}

.usn {
  user-select: none;
}

.right {
  margin-left: auto;
}

.fg {
  flex-grow: 2;
}

.underline {
  text-decoration: underline;
}

/* Misc */

.panel {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  margin: 20px 0;
}

.tabname {
  margin: 0;
  text-align: start;
  font-size: 24px;
  font-weight: 700;
}

.card {
  padding: 20px;
  border: 5px solid var(--bg0_h);
  border-radius: 10px;
}

.password-container {
  position: relative;
}

.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;

  transform: translateY(-50%);
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 1.3em !important;
}

.btn-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .panel {
    justify-content: space-between;
  }

  .panel > * {
    justify-content: center;

    width: 100%;
  }
}

ul {
  padding: 0;
  margin: 0;
}
